body{
    background: #000000; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #0f9b0f); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #0f9b0f); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    text-align: center;
    color: rgb(235, 222, 222);
    text-shadow: 2px 2px red;
}
.nom{
    color: rgb(247, 251, 252);
    font-size: 30px;
    margin: 5px;
    padding: 15px;
    font-weight: 800;
    justify-content: center;
}
